.app-container {
  font-family: sans-serif;
  padding: 0px;
}

.app-container h1 {
  text-align: center;
  margin-bottom: 20px;
  color: #333;
}

.form-list-container {
  display: flex;
  flex-direction: row;
  gap: 20px;
  justify-content: center;
}

.todo-form-container {
  width: 400px;
  flex-shrink: 0;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.todo-form-container h2 {
  margin-top: 0;
  margin-bottom: 15px;
  color: #555;
}

.todo-form-container form {
  display: flex;
  flex-direction: column;
}

.todo-form-container input[type="text"],
.todo-form-container input[type="email"],
.todo-form-container textarea,
.todo-form-container select {
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
  font-size: 14px;
}

.todo-form-container textarea {
  min-height: 100px;
  resize: vertical;
}

.todo-form-container select {
  cursor: pointer;
}

.todo-form-container label {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
}

.todo-form-container input[type="radio"] {
  margin-right: 5px;
}

.todo-form-container button {
  padding: 10px 15px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 14px;
}

.todo-form-container button:hover {
  background-color: #0056b3;
}

.todo-form-container button:active {
  background-color: #003d80;
}

.task-list-wrapper {
  width: 600px;
  border: 1px solid #eee;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.05);
  height: 487px;
  overflow-y: auto;
  padding: 0px 15px;
  position: relative; 
}

.task-list-wrapper h2 {
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #fff; 
  padding: 10px 15px;
  margin: 0;
  border-bottom: 1px solid #eee; 
  box-sizing: border-box;
  z-index: 10;
}

.task-list-wrapper ul {
  list-style: none;
  padding: 0;
  margin: 0;
  padding-top: 10px;
}

.task-list-wrapper li {
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 15px;
  margin-bottom: 10px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.03);
}

.task-list-wrapper li strong {
  font-size: 1.1em;
  color: #333;
  display: block;
  margin-bottom: 5px;
}

.task-list-wrapper li p {
  color: #555;
  margin-bottom: 8px;
}

.task-list-wrapper li small {
  color: #777;
  display: block;
  margin-bottom: 8px;
  font-size: 0.9em;
}

.task-list-wrapper li button {
  background-color: #dc3545;
  color: white;
  border: none;
  border-radius: 4px;
  padding: 8px 12px;
  cursor: pointer;
  font-size: 0.9em;
  transition: background-color 0.3s ease;
}

.task-list-wrapper li button:hover {
  background-color: #c82333;
}

.task-list-wrapper li ul {
  padding-left: 20px;
  margin-top: 10px;
  border-left: 1px solid #eee;
}

.task-list-wrapper li ul li {
  margin-bottom: 8px;
  padding: 10px;
}
